.modal-lg{
	width:800px;
}

.owner .first-name, .owner .last-name{
	width:30%;
}

.owner .email{
	width:40%;
}

.description{
	resize:vertical;	
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
	background-color:inherit;
}

.calendar-disabled{
	background-color:#eee;
}