<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>companion</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jspf</url-pattern>
    </jsp-property-group>
  </jsp-config>
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>it3191.companion.filter.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/pages/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>AuthorizationFilter</filter-name>
    <filter-class>it3191.companion.filter.AuthorizationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthorizationFilter</filter-name>
    <url-pattern>/pages/admin/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>HtmlCompressorFilter</filter-name>
    <filter-class>it3191.companion.filter.HtmlCompressorFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HtmlCompressorFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <context-param>
    <param-name>registration_successful</param-name>
    <param-value>Registered successfully! Please proceed to login.</param-value>
  </context-param>
  <context-param>
    <param-name>registration_failed</param-name>
    <param-value>Registration Failed! Please try again.</param-value>
  </context-param>
  <context-param>
    <param-name>login_failed</param-name>
    <param-value>Login Failed! Please try again.</param-value>
  </context-param>
  <context-param>
    <param-name>new_session</param-name>
    <param-value>Welcome! Please login.</param-value>
  </context-param>
  <context-param>
    <param-name>logout</param-name>
    <param-value>Log out successfully.</param-value>
  </context-param>
  <context-param>
    <param-name>successfully_update</param-name>
    <param-value>Password Successfully! Updated</param-value>
  </context-param>
  <context-param>
    <param-name>failure_update</param-name>
    <param-value>Update Failure! Please try again</param-value>
  </context-param>
  <context-param>
    <param-name>email_check</param-name>
    <param-value>Please check your email for the verification link</param-value>
  </context-param>
</web-app>