<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>companion</display-name>
  <welcome-file-list>
    <welcome-file>pages/index.html</welcome-file>
    <welcome-file>pages/index.htm</welcome-file>
    <welcome-file>pages/index.jsp</welcome-file>
    <welcome-file>pages/default.html</welcome-file>
    <welcome-file>pages/default.htm</welcome-file>
    <welcome-file>pages/default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>registration_successful</param-name>
    <param-value>Registered successfully! Please proceed to login.</param-value>
  </context-param>
  <context-param>
    <param-name>registration_failed</param-name>
    <param-value>Registration Failed! Please try again.</param-value>
  </context-param>
  <context-param>
    <param-name>login_failed</param-name>
    <param-value>Login Failed! Please try again.</param-value>
  </context-param>
  <context-param>
    <param-name>new_session</param-name>
    <param-value>Welcome! Please login.</param-value>
  </context-param>
</web-app>